<h1><%= @employee.name %></h1>
<h2>Alias: <%= @employee.alias %></h2>
<h3>Title: <%= @employee.title %></h3>
<p>Office: <%= @employee.office %></p>
<%= image_tag @employee.img_url %>

<h3>I BELONG TO: <%= @employee.dog.name%> THE DOG </h3>
