<h1><%= @dog.name %></h1>
<h2>Breed: <%= @dog.breed %></h2>
<h2>Age: I am <%= @dog.age %></h2>
<p>My employees are:</p>
<% @dog.employees.each do |dog| %>
    <ul>
        <li><%= dog.first_name %></li>
    </ul>
<% end %>


<%= link_to 'Back', dogs_path %>